@import "null.css";
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@1,600&display=swap');



@font-face {
   font-family: "Buyan";
   src: url("../fonts/BuyanRegular.woff2") format("woff2"), url("../fonts/BuyanRegular.woff") format("woff");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Buyan";
   src: url("../fonts/BuyanBold.woff2") format("woff2"), url("../fonts/BuyanBold.woff") format('woff');
   font-style: normal;
   font-weight: 600;
   font-display: swap;
}


@font-face {
   font-family: "Spectral";
   src: url("../fonts/Spectral-Italic.woff2") format("woof2"), url("../fonts/Spectral-Italic.woff") format("woff");
   font-style: italic;
   font-weight: normal;
   font-display: swap;
}

body{
   font-family: "Buyan";
   font-weight: 400;
}

.menu{
   font-family: 'Yanone Kaffeesatz', sans-serif;
   font-size: 20px;
   color: hsla(180, 100%, 50%, 0.66);
   font-weight: 600;
   text-transform: uppercase;
   letter-spacing: 2px;
}

.title{
   font-family: 'Pacifico', cursive;
   font-size: 35px;
   text-align: center;
   text-transform: uppercase;
   line-height: 1.5;
}

h1 span {
   color: red;
}

p span {
   font-weight: bold;
}

.subtitle p {
   text-align: right;
}

.title-list{
   font-family: 'Spectral', serif;
   font-size: 25px;
   text-shadow: 17px 5px 6px rgb(85, 85, 85);
   font-style: italic;
   text-align: center;
   text-transform: uppercase;
   color: rgb(127, 147, 147);
}

.title-list span{
   color: #5d4712;
}
.text{
   font-size: 20px;
   line-height: 1.5;
   text-indent: 30px;
}

.text span{
   text-decoration: overline;
}

.text-list > ul > li {
   font-weight: 600;
   color: rgb(60, 52, 52);
   line-height: 1.5;

}

.text-list > ul > li > span{
   font-family: 'Pacifico', cursive;
   text-decoration: underline;
   text-transform: uppercase;
   color: rgb(129, 154, 146);
   text-shadow: 2px 2px 5px rgb(173, 181, 184);

}

.text-decor{
  font-family: "Spectral";
   font-style: italic;
   color: #8533d2;
   word-spacing: 10px;
   line-height: 1.5;
   font-size: 14px;
   text-decoration: line-through;
}

footer a{
   font-family: 'Pacifico', cursive;
   text-align: center;
   text-decoration: underline;
   font-size: 50px;
   line-height: 1.5;
   letter-spacing: 10px;
}